
@{
    ViewBag.Title = "WordImage";
    Layout = "~/Views/Shared/UrlLayout.cshtml";
}

<div class="w3pvt-logo align-self">
    @*<h2>Indata Link İle Bağlantılarınız<br /> İçin Kısa Link Oluşturun</h2>
        <img src="~/Photo/photo.png" style="width:250px;margin-left:200px;" />*@
    <div class="form-group">
        <h2 class="text-center">Sertifika Detay</h2>
        <a href="/WordConvertPdf/Index" class="btn btn-danger float-right" style="color:white"><i class="fa fa-download"></i> Sertifika İndir</a>
    </div>
    <hr />
    <img src="~/Photo/s4.jpg"/>
    @*<table>
        <form action="#" method="post" style="margin-left:200px;">

            <a data-toggle="modal" data-target="#Modal1" class="btn btn-danger" style="color:white">Popup Butonu</a>





        </form>
    </table>

</div>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-center" style="color:purple">Müşteriler</h2>

            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <img src="~/Photo/s4.jpg" />
                </table>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" data-dismiss="modal">Kapat</a>
            </div>
        </div>
    </div>
</div>*@