@using NewLinkShortApp.Models
@model List<FieldValue>

@{
    ViewBag.Title = "NewCertificate";
    Layout = "~/Views/Shared/UrlLayout.cshtml";
}

<div class="w3pvt-logo align-self">
    <h2>Indata Link İle Bağlantılarınız<br /> İçin Sertifika Oluşturun</h2>
    <img src="~/Photo/photo.png" style="width:250px;margin-left:200px;" />
    <hr />
    <table>
        <div class="row">
            <div class="col-md-9">
                <form action="#" method="post">
                    @*<div style="color:white;margin-bottom:10px;">

                    </div>*@
                    @*<label style="color:white">Sertifika Adı</label>
                    @Html.TextBoxFor(x => x.CertificateName, new { placeholder = "Sertifika Adı...", @class = "form-control" })
                    <br />*@
                   @foreach (var x in Model)
                   {


                    <label style="color:white">@x.Name</label>
                    <input type="text" name="@x.Name" class="form-control" placeholder="@x.Name..." />
                   
                    <br />
                   }
                    <hr />
                    <button type="submit" id="btnId" class="form-control" style="background-color:rebeccapurple;color:white">Sertifika Kaydet</button>
                </form>
            </div>
            <!--<div class="col-md-3">
                <img src="~/Photo/s2.jpg" style="width:300px;height:400px;" id="Id1" />-->
                @*<svg width="400" height="180">
                        <rect x="50" y="20" rx="20" ry="20" width="150" height="150"
                              style="fill:yellow;stroke:black;stroke-width:5;opacity:0.5" />
                    </svg>*@
            <!--</div>-->
        </div>
    </table>

</div>
