@model NewLinkShortApp.Models.AppUser
@{
    ViewBag.Title = "PasswordChange";
    Layout = "~/Views/Shared/UrlLayout.cshtml";
}

<div class="w3pvt-logo align-self">
    <h3>Şifre Güncelleme Sayfası</h3>
    <img src="~/Photo/photo.png" style="width:250px;margin-left:200px;" />
    <hr />
    <table>
        @using (Html.BeginForm("PasswordChange", "Profile", FormMethod.Post))
        {
            @*<div style="color:white;" class="text-center">
                <h3>Profil Güncelleme Sayfası</h3>
            </div>*@
            @Html.HiddenFor(x => x.Id)
            <label style="color:white"><b>Yeni Şifrenizi Giriniz.</b></label>
            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
            <hr />
            <div class="form-group">
                <a href="/Url/Index" class="btn btn-danger" style="width:230px;height:60px;margin:0px;0px;0px;10px;padding:15px;20px;">Vazgeç</a>
                <button type="submit" class="btn btn-warning float-right" style="color:white;background-color:yellowgreen">Güncelle</button>
            </div>
        }
    </table>

</div>

