@*<li class="nav-item active">
    <a class="nav-link" href="#"><i class="fa fa-user-circle"></i> Hoşgeldin @ViewBag.Name</a>
</li>*@

<style>
    .dropdown-toggle:hover{background-color: darkslateblue;}
    .dropdown-toggle{
        border-radius:10px;
    }
    .signOut:hover{background-color: darkslateblue;}
    .signOut{
        border-radius:10px;
    }
    
</style>

<li class="dropdown" style="margin-left:10px;margin-top:10px;">
    <a href="contact.html" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-2x"></i>  @ViewBag.Name @ViewBag.Surname<b class="caret"></b></a>
    <ul class="dropdown-menu multi-column columns-3">
        <div style="margin:10px;">
            <div class="multi-gd-img">
                <ul class="multi-column-dropdown">

                    <li><a href="/Profile/UpdateProfile" class="signOut"><i class="fa fa-address-card"></i> Profilim</a></li>
                    <br />
                    <li><a href="/Profile/PasswordChange" class="signOut"><i class="fa fa-lock"></i> Şifre Sıfırla</a></li>
                    <br/>
                    <li><a href="/Login/Logout" class="signOut"><i class="fa fa-sign-out"></i> Çıkış Yap</a></li>
                </ul>
            </div>
        </div>
    </ul>
</li>

